/* #091d11;
    #285430;
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.nav {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #091d11;
    margin-bottom: 20px;
    padding: 20px;
    /* width: 1000px; */
}

.nav ul {
    display: flex;
    list-style-type: none;
    width: 1000px;
    justify-content: space-between;
}

.nav ul a {
    color: #285430;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.nav ul a:hover {
    background-color: #285430;
    color: white;
    cursor: pointer;
}

/* ============================================================== */
/*Home Section  */

img {
    width: 100%;
}
.homeContainer {
    text-align: center;
    width: 1000px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 12px;
}
.homeContainer h1 {
    text-align: center;
    margin-bottom: 15px;
}
.homeContainer h2 {
    margin-bottom: 5px;
}

.hoursOfOp {
    text-align: center;
}
.location {
    text-align: center;
}

.hoursOfOp ul {
    list-style-type: none;
}
.hoursOfOp ul li {
    margin-bottom: 5px;
}
.restaurantPic {
    margin-bottom: 15px;
}

/* ================================================================== */
/* Menu Section */
.menuContainer {
    border: 1px solid black;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}
.menuContainer h1 {
    margin: 10px 0;
}
.menuContainer h2 {
    text-align: center;
    margin: 10px 0;
}
.cardMenuDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.cardMenuDiv p {
    margin: 8px;
}
.card {
    border: 1px solid black;
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    justify-content: space-between;
    border-radius: 5px;
    /* width: auto; */
}
.card img {
}
.descDiv {
    width: 100%;
}
.menuImage {
    width: 100%;
}
/* ================================================================ */
/* Contact Section */
.contactContainer {
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.contactContainer h1 {
    align-self: center;
    margin-bottom: 8px;
}
.contactContainer h2 {
    margin-bottom: 5px;
}
.contactContainer li {
    margin-bottom: 3px;
}
.directContact {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #091d11;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.directContact ul {
    list-style-type: none;
}

.image-div {
    width: 40%;
    border-radius: 5px;
}
.image-div img {
    border-radius: 5px;
}

.socialMediaDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #091d11;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.socialMediaDiv ul {
    list-style-type: none;
}
.socialMediaDiv ul li a:hover {
    color: #091d11;
    cursor: pointer;
}

.footer {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
.footer-container {
    width: 1000px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}
.footer-container ul {
    list-style: none;
}
.footer-container h2 {
    margin-bottom: 5px;
}
.footer-container li {
    margin-bottom: 2px;
}

.hidden {
    display: none;
}
.underlined {
    border-bottom: solid 3px #003515;
}

@media (max-width: 1080px) {
    #content {
        padding: 10px;
    }
}
@media (max-width: 650px) {
    #content {
        padding: 10px;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: red;
    }
    .nav ul li {
        margin-bottom: 30px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-container div {
        margin-bottom: 10px;
    }

    .cardMenuDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .cardMenuDiv div {
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .directContact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .directContact .image-div {
        width: 50%;
    }
}
