/* #091d11;
    #285430;
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
}
#content {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #091d11;
    margin-bottom: 20px;
    padding: 20px;
    /* width: 1000px; */
}

.nav ul {
    display: flex;
    list-style-type: none;
    width: 1000px;
    justify-content: space-between;
}

.nav ul a {
    color: #285430;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 5px;
}
.nav ul a:hover {
    background-color: #285430;
    color: white;
    cursor: pointer;
}

/* ============================================================== */
/*Home Section  */

img {
    width: 100%;
}
.homeContainer {
    width: 1000px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.homeContainer h1 {
    text-align: center;
}

.hoursOfOp {
    text-align: center;
}
.location {
    text-align: center;
}

.hoursOfOp ul {
    list-style-type: none;
}
.hoursOfOp ul li {
    margin-bottom: 5px;
}

/* ================================================================== */
/* Menu Section */
.menuContainer {
    border: 1px solid black;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}
.menuContainer h1 {
    margin: 10px 0;
}
.menuContainer h2 {
    text-align: center;
    margin: 10px 0;
}
.cardMenuDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.drinkCard {
    border: 1px solid black;
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    /* width: auto; */
}
.drinkDescDiv {
    width: 100%;
}
.menuImage {
    width: 100%;
}
/* ================================================================ */
/* Contact Section */
.contactContainer {
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.contactContainer h1 {
    align-self: center;
}
.directContact {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #091d11;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.directContact ul {
    list-style-type: none;
}
.image-div {
    width: 20%;
    border-radius: 5px;
}
.image-div img {
    border-radius: 5px;
}

.socialMediaDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #091d11;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.socialMediaDiv ul {
    list-style-type: none;
}
.socialMediaDiv ul li a:hover {
    color: #091d11;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.hidden {
    display: none;
}
.underlined {
    border-bottom: solid 3px black;
}
